@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", serif;
    background: linear-gradient(90deg, #2F8AA9 0%, #8ABECC 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
